<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Energie Madagascar</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/style1.css">
  </head>
  <body>
    <div id="container7">

      <div id="header11">
        <div class="header">
          <h1>Energie Madagascar</h1>
        </div>
      </div>

      <div id="menu">
        <h1>Sommaire</h1>
        <img src="../../WEB-INF/classes/data/img/test4.gif" class="photo">
          <h3>geographie:</h3>
          <ul>
            <li><a href="../geogr/relief.html">Relief</a></li>
            <li><a href="../geogr/hydro.html">Hydrographie</a></li>
            <li><a href="../geogr/climat.html">Climat</a></li>
            <li><a href="../geogr/geo.html">Géologie</a></li>
          </ul>
          <h3>histoire:</h3>
          <ul>
            <li>Epoque coloniale:
              <ul>
                <li><a href="../histoire/conqfr.html">Conquète Française</a></li>
                <li><a href="../histoire/adminfr.html">Adminitration Française</a></li>
              </ul>
            </li>
            <li><a href="../histoire/indep.html">Independance vers 1960</a></li>
            <li><a href="../histoire/rep.html">Vers la 3eme republique</a></li>
          </ul>
          <h3>economie:</h3>
          <ul>
            <li><a href="sysBank.html">Système des banques</a></li>
            <li><a href="export.html">Exportation</a></li>
            <li><a href="import.html">Importation</a></li>
            <li><a href="energie.html">Enérgie</a></li>
          </ul><hr>
          <h3><a href="../../index.html">Acceuil</a></h3><hr>
        <h1>Divers</h1>
          <h3>Code ISO 3166-1</h3>
            <h4>MDG, MG​</h4>
          <h3>Domaine Internet</h3>
            <h4>.mg</h4>
          <h3>Indicatif téléphonique</h3>
            <h4>+261</h4>
      </div>

      <div id="containts">
        <h1>Energie</h1>
          <p>En 2012, le taux d’électrification du pays est estimé à environ 23 % soit l’un des plus faibles d’Afrique subsaharienne92, le taux étant bien plus élevé en zones urbaines que rurales.</p>
          <p>En 2011, la production d’électricité du pays atteint 1 328 GWh et est issue à93 :</p>
          <ul>
            <li>52 % de l’énergie hydroélectrique, soit 690 GWh ;</li>
            <li>48 % d’énergies fossiles, soit 638 GWh.</li>
          </ul>
          <p>En 2001, les énergies renouvelables représentaient 63 % de la production totale d’électricité. Le potentiel de développement de l’hydroélectricité est par ailleurs élevé, le pays n’en exploitant que 132 MW alors que la ressource totale est estimée à 7 800 MW93.</p><hr>
      </div>

      <div id="footer">
        <div id="foot">
          <p>
            Dernière modification de cette page le 29 octobre 2014 à 16:38.
          </p>
          <p>Droit d'auteur : les textes sont disponibles sous licence Creative Commons paternité partage à l’identique ; d’autres conditions peuvent s’appliquer. Voyez les conditions d’utilisation pour plus de détails, ainsi que les crédits graphiques.
             En cas de réutilisation des textes de cette page, voyez comment citer les auteurs et mentionner la licence.
             Wikipedia est une marque déposée de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par le paragraphe 501(c)(3) du code fiscal des États-Unis.
          </p>
          <p>
            Politique de confidentialité propos de WikipédiaAvertissementsDéveloppeursVersion mobile
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
