<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exportation Madagascar</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/style1.css">
  </head>
  <body>
    <div id="container6">

      <div id="header9">
        <div class="header">
          <h1>Exportation Madagascar</h1>
        </div>
      </div>

      <div id="menu">
        <h1>Sommaire</h1>
        <img src="../../WEB-INF/classes/data/img/test4.gif" class="photo">
          <h3>geographie:</h3>
          <ul>
            <li><a href="../geogr/relief.html">Relief</a></li>
            <li><a href="../geogr/hydro.html">Hydrographie</a></li>
            <li><a href="../geogr/climat.html">Climat</a></li>
            <li><a href="../geogr/geo.html">Géologie</a></li>
          </ul>
          <h3>histoire:</h3>
          <ul>
            <li>Epoque coloniale:
              <ul>
                <li><a href="../histoire/conqfr.html">Conquète Française</a></li>
                <li><a href="../histoire/adminfr.html">Adminitration Française</a></li>
              </ul>
            </li>
            <li><a href="../histoire/indep.html">Independance vers 1960</a></li>
            <li><a href="../histoire/rep.html">Vers la 3eme republique</a></li>
          </ul>
          <h3>economie:</h3>
          <ul>
            <li><a href="sysBank.html">Système des banques</a></li>
            <li><a href="export.html">Exportation</a></li>
            <li><a href="import.html">Importation</a></li>
            <li><a href="energie.html">Enérgie</a></li>
          </ul><hr>
          <h3><a href="../../index.html">Acceuil</a></h3><hr>
        <h1>Economie</h1>
          <h3>Monnaie</h3>
            <h4>Ariary (MGA​)</h4>
        <h1>Divers</h1>
          <h3>Code ISO 3166-1</h3>
            <h4>MDG, MG​</h4>
          <h3>Domaine Internet</h3>
            <h4>.mg</h4>
          <h3>Indicatif téléphonique</h3>
            <h4>+261</h4>
      </div>

      <div id="containts">
        <h1>Exportation</h1>
          <ul>
            <li>1950, riz de luxe81, café, cacao, poivre, tapioca82, pierres précieuses81(bijoux), pierres semi-précieuses, uranium (1 000 tonnes de 1950 à 2008 et exploité par la France), or (exploité par la France), bauxite (industries), cobalt.</li>
            <li>1975, pétrole exploité par la société Amocco (États-Unis). Abandon en raison du manque de rentabilité.</li>
            <li>1975-1990, période marxiste, économie au ralenti tournée vers le bloc de l'Est.</li>
            <li>1990-2002, vanille81 gousse (1er pays producteur en qualité), début de l'exploitation industrielle intensive de la mer par l'UE83, tentative d'exportation de la viande de zébu malgache84. Exportation de crevettes d'élevage par des Malgaches d'origines française et indopakistanaise (premières créations d'emploi dans l'industrie de la crevette).</li>
            <li>2002-2008, reprise de l'exploitation :
              <ul>
                <li>du pétrole, cette fois-ci par la Texaco, favorisé par la hausse du prix du baril, donc le retour à la rentabilité des gisements de Madagascar,</li>
                <li>de l'uranium par la société Areva,</li>
                <li>de l'ilménite par la société anonyme Rio Tinto85,</li>
                <li>du nickel par Dynatec et Arcelor.</li>
                <li>2009 : Madagascar devient producteur de niobium86 métal de transition qui permit le vol Apollo 11.</li>
              </ul>
            </li>
            <li>entre 2008 et 2009, Madagascar a exporté environ 25 000 tonnes de litchi vers l'Europe87.</li>
            <li>Montant total des exportations : 1 040 millions de dollars en 200988.</li>
          </ul><hr>
        <h1>Ressources en exploitation</h1>
          <p>
            C'est l'OMNIS, une agence du Ministère de l’Énergie qui est chargée de l'exploration et de la gestion des ressources minières et en hydrocarbures malgaches
          </p>
          <ul>
            <li>1980 : découverte d'uranium dans le sous-sol de Madagascar90</li>
            <li>1995 : découverte de pétrole offshore (sous-marin) au large de Fort-Dauphin</li>
            <li>2008 : début d'exploitation de pétrole onshore (souterrain)</li>
          </ul><hr>
      </div>

      <div id="footer">
        <div id="foot">
          <p>
            Dernière modification de cette page le 29 octobre 2014 à 16:38.
          </p>
          <p>Droit d'auteur : les textes sont disponibles sous licence Creative Commons paternité partage à l’identique ; d’autres conditions peuvent s’appliquer. Voyez les conditions d’utilisation pour plus de détails, ainsi que les crédits graphiques.
             En cas de réutilisation des textes de cette page, voyez comment citer les auteurs et mentionner la licence.
             Wikipedia est une marque déposée de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par le paragraphe 501(c)(3) du code fiscal des États-Unis.
          </p>
          <p>
            Politique de confidentialité propos de WikipédiaAvertissementsDéveloppeursVersion mobile
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
