<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Importation Madagascar</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/style1.css">
  </head>
  <body>
    <div id="container7">

      <div id="header10">
        <div class="header">
          <h1>Importation Madagascar</h1>
        </div>
      </div>

      <div id="menu">
        <h1>Sommaire</h1>
        <img src="../../WEB-INF/classes/data/img/test4.gif" class="photo">
          <h3>geographie:</h3>
          <ul>
            <li><a href="../geogr/relief.html">Relief</a></li>
            <li><a href="../geogr/hydro.html">Hydrographie</a></li>
            <li><a href="../geogr/climat.html">Climat</a></li>
            <li><a href="../geogr/geo.html">Géologie</a></li>
          </ul>
          <h3>histoire:</h3>
          <ul>
            <li>Epoque coloniale:
              <ul>
                <li><a href="../histoire/conqfr.html">Conquète Française</a></li>
                <li><a href="../histoire/adminfr.html">Adminitration Française</a></li>
              </ul>
            </li>
            <li><a href="../histoire/indep.html">Independance vers 1960</a></li>
            <li><a href="../histoire/rep.html">Vers la 3eme republique</a></li>
          </ul>
          <h3>economie:</h3>
          <ul>
            <li><a href="sysBank.html">Système des banques</a></li>
            <li><a href="export.html">Exportation</a></li>
            <li><a href="import.html">Importation</a></li>
            <li><a href="energie.html">Enérgie</a></li>
          </ul><hr>
          <h3><a href="../../index.html">Acceuil</a></h3><hr>
        <h1>Divers</h1>
          <h3>Code ISO 3166-1</h3>
            <h4>MDG, MG​</h4>
          <h3>Domaine Internet</h3>
            <h4>.mg</h4>
          <h3>Indicatif téléphonique</h3>
            <h4>+261</h4>
      </div>

      <div id="containts">
        <h1>Importation</h1>
          <p>De riz depuis :</p>
          <ul>
            <li>1978 de Chine</li>
            <li>1998 du Pakistan, de l'Inde, de la farine de blé de France</li>
            <li>1980 début avec la Chine de la provende89 pour bétail</li>
            <li>2004 d'Asie</li>
            <li>Montant total des importations : 1 836 millions de dollars en 2009</li>
          </ul><hr>
        <h1>Transports</h1>
          <p>Madagascar dispose de 836 km de voies ferrées et environ 49 250 km de routes dont 1 724 km goudronnées.
            Elle possède six aéroports internationaux (Antananarivo, Toamasina, Majunga, Nosy Bé, Taolagnaro et Antsiranana), en plus des services d'Air Madagascar.
            Avec trois grands ports maritimes commerciaux et touristique (Tamatave, Majunga, et Antsiranana) qui assurent les 80 % des importations et exportations de biens.
          </p><hr>
      </div>

      <div id="footer">
        <div id="foot">
          <p>
            Dernière modification de cette page le 29 octobre 2014 à 16:38.
          </p>
          <p>Droit d'auteur : les textes sont disponibles sous licence Creative Commons paternité partage à l’identique ; d’autres conditions peuvent s’appliquer. Voyez les conditions d’utilisation pour plus de détails, ainsi que les crédits graphiques.
             En cas de réutilisation des textes de cette page, voyez comment citer les auteurs et mentionner la licence.
             Wikipedia est une marque déposée de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par le paragraphe 501(c)(3) du code fiscal des États-Unis.
          </p>
          <p>
            Politique de confidentialité propos de WikipédiaAvertissementsDéveloppeursVersion mobile
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
