<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Systeme Madagascar</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/style1.css">
  </head>
  <body>
    <div id="container5">

      <div id="header8">
        <div class="header">
          <h1>Système Banque Madagascar</h1>
        </div>
      </div>

      <div id="menu">
        <h1>Sommaire</h1>
        <img src="../../WEB-INF/classes/data/img/test4.gif" class="photo">
          <h3>geographie:</h3>
          <ul>
            <li><a href="../geogr/relief.html">Relief</a></li>
            <li><a href="../geogr/hydro.html">Hydrographie</a></li>
            <li><a href="../geogr/climat.html">Climat</a></li>
            <li><a href="../geogr/geo.html">Géologie</a></li>
          </ul>
          <h3>histoire:</h3>
          <ul>
            <li>Epoque coloniale:
              <ul>
                <li><a href="../histoire/conqfr.html">Conquète Française</a></li>
                <li><a href="../histoire/adminfr.html">Adminitration Française</a></li>
              </ul>
            </li>
            <li><a href="../histoire/indep.html">Independance vers 1960</a></li>
            <li><a href="../histoire/rep.html">Vers la 3eme republique</a></li>
          </ul>
          <h3>economie:</h3>
          <ul>
            <li><a href="sysBank.html">Système des banques</a></li>
            <li><a href="export.html">Exportation</a></li>
            <li><a href="import.html">Importation</a></li>
            <li><a href="energie.html">Enérgie</a></li>
          </ul><hr>
          <h3><a href="../../index.html">Acceuil</a></h3><hr>
        <h1>Economie</h1>
          <h3>Monnaie</h3>
            <h4>Ariary (MGA​)</h4>
      </div>

      <div id="containts">
        <h1>Système des banques</h1>
          <p>En 1889, naît la première Banque de Madagascar[réf. nécessaire].
            La création de l'euro favorise la vigueur de la monnaie malgache maintenue
            indépendante par rapport à l'ancienne devise coloniale (le franc français), face au monopole du dollar américain de référence, auparavant fort.
          </p><hr>
        <h1>Mandats postaux</h1>
          <p>Une minorité reçoit des revenus périodiques mensuels de l'extérieur de la part d'un membre de la famille. La somme est évaluée à 50-100 € nets en moyenne par famille.
            En mai 2003, l'Ariary a remplacé le franc malgache (FMG) comme monnaie à Madagascar. À partir de cette date, un double étiquetage est appliqué dans les commerces et sur
            les marchés jusqu'au basculement officiel, le 1er janvier 2005.
            Depuis cette date, seul l'ariary a cours dans le pays (1 ariary = 5 FMG).
          </p><hr>
      </div>

      <div id="footer">
        <div id="foot">
          <p>
            Dernière modification de cette page le 29 octobre 2014 à 16:38.
          </p>
          <p>Droit d'auteur : les textes sont disponibles sous licence Creative Commons paternité partage à l’identique ; d’autres conditions peuvent s’appliquer. Voyez les conditions d’utilisation pour plus de détails, ainsi que les crédits graphiques.
             En cas de réutilisation des textes de cette page, voyez comment citer les auteurs et mentionner la licence.
             Wikipedia est une marque déposée de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par le paragraphe 501(c)(3) du code fiscal des États-Unis.
          </p>
          <p>
            Politique de confidentialité propos de WikipédiaAvertissementsDéveloppeursVersion mobile
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
