<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adminitration Madagascar</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/style1.css">
  </head>
  <body>
    <div id="container1">

      <div id="header5">
        <div class="header">
          <h1>Adminitration Française</h1>
        </div>
      </div>

      <div id="menu">
        <h1>Sommaire</h1>
        <img src="../../WEB-INF/classes/data/img/test4.gif" class="photo">
          <h3>geographie:</h3>
          <ul>
            <li><a href="../geogr/relief.html">Relief</a></li>
            <li><a href="../geogr/hydro.html">Hydrographie</a></li>
            <li><a href="../geogr/climat.html">Climat</a></li>
            <li><a href="../geogr/geo.html">Géologie</a></li>
          </ul>
          <h3>histoire:</h3>
          <ul>
            <li>Epoque coloniale:
              <ul>
                <li><a href="conqfr.html">Conquète Française</a></li>
                <li><a href="adminfr.html">Adminitration Française</a></li>
              </ul>
            </li>
            <li><a href="indep.html">Independance vers 1960</a></li>
            <li><a href="rep.html">Vers la 3eme republique</a></li>
          </ul>
          <h3>economie:</h3>
          <ul>
            <li><a href="../economie/sysBank.html">Système des banques</a></li>
            <li><a href="../economie/export.html">Exportation</a></li>
            <li><a href="../economie/import.html">Importation</a></li>
            <li><a href="../economie/energie.html">Enérgie</a></li>
          </ul><hr>
          <h3><a href="../../index.html">Acceuil</a></h3><hr>
        <h1>Adminitration</h1>
          <h3>Forme de l'État</h3>
            <h4>République semi-présidentielle</h4>
          <h3>Président de la République</h3>
            <h4>Hery Rajaonarimampianina</h4>
          <h3>Premier ministre</h3>
            <h4>Roger Kolo</h4>
          <h3>Langues officielles</h3>
            <h4>malgache</h4>
            <h4>français</h4>
          <h3>Capitale</h3>
            <h4>Antananarivo</h4>
      </div>

      <div id="containts">
        <h1>Administration française</h1>
          <img src="../../WEB-INF/classes/data/img/saonj.jpg" class="photo3">
          <p>La fin de l'Indépendance est suivie de dix ans de guerre civile larvée, due à l'insurrection des Menalamba.
            Madagascar sera sous administration française de 1896 à 1960.Le général Joseph Galliéni, nommé gouverneur général de Madagascar (1896-1905), contribue à pacifier l'île. Selon ce dernier, l'action militaire devait être accompagnée d'une aide aux peuples colonisés dans différents domaines, comme l'administration, l'économie et l'enseignement.
            Elle nécessitait un contact permanent avec les habitants ainsi qu'une parfaite connaissance du pays et de ses langues. Le 27 septembre 1896, l'administration française abolit l'esclavage (il s'agissait d'un esclavage inter-malgache).
            Sous l'impulsion de Galliéni, de nombreuses infrastructures sont mises en place : premier chemin de fer Tananarive-Tamatave (achevé en 1903), achèvement du chemin de fer de Madagascar33, développement rapide du réseau routier (1905 à 1935)34, Institut Pasteur, écoles, etc.
            Pendant la colonisation française, un enrichissement de la population malgache est constaté, reflété à travers un achat croissant de tissus35. En 1907, pour la première fois depuis un siècle, les exportations malgaches sont supérieures aux importations, et le pays s'enrichit.
            De nombreux jeunes Malgaches vont aussi étudier en France et contribueront à faire connaître Madagascar.
            La période coloniale est toutefois accompagnée de mouvements de lutte pour l'indépendance : les Menalamba, les Vy Vato Sakelika, le MDRM. Ce dernier parti politique est accusé par le régime colonial d'être à l'origine de l'insurrection de 1947 et sera poursuivi par de violentes répressions.
            La répression menée contre la résistance du peuple malgache à sa colonisation aurait fait au total des dizaines de milliers de morts pour une population de 3 millions d'habitants à l'époque36.
            Pendant la Seconde Guerre mondiale, pour contrer une possible menace japonaise sur Madagascar, l'Empire britannique mène à partir de mai 1942 l'opération Ironclad et prend progressivement possession des points stratégiques de l'île. Les Français libres n'arriveront qu'en janvier 1943, provoquant une nouvelle fois des tensions entre le général de Gaulle et le gouvernement britannique.
            En mars 1947, l'Insurrection malgache éclate, qui entraîne une répression sanglante par l'armée française qui fait plusieurs dizaines de milliers de morts, les chiffres oscillant, selon les sources, entre une dizaine de milliers et 89 000 d'après Jacques Tronchon37. Cependant, la presse française avance souvent le chiffre de 80 000 morts.
            De leur côté, Jean Frémigacci, maître de conférence à l'université Paris I et Lucile Rabearimanana, professeur à l’université de Tananarive retiennent les chiffres de 140 Français et 2 000 Malgaches tués par les insurgés ; entre 1 000 et 2 000 Malgaches tués par les milices d'autodéfense européennes ; enfin, entre 5 000 et 6 000 insurgés malgaches tués par l'armée française.
            Territoire d'outre-mer de 1946 à 1958, Madagascar obtient un premier niveau d'autonomie le 10 octobre 1958, en tant que République autonome Malagasy au sein de la Communauté. Le 14 octobre, Philibert Tsiranana devient président du Conseil de gouvernement avant d'être élu premier président de la République le 1er mai 1959.
          </p><hr>
      </div>

      <div id="footer">
        <div id="foot">
          <p>
            Dernière modification de cette page le 29 octobre 2014 à 16:38.
          </p>
          <p>Droit d'auteur : les textes sont disponibles sous licence Creative Commons paternité partage à l’identique ; d’autres conditions peuvent s’appliquer. Voyez les conditions d’utilisation pour plus de détails, ainsi que les crédits graphiques.
             En cas de réutilisation des textes de cette page, voyez comment citer les auteurs et mentionner la licence.
             Wikipedia est une marque déposée de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par le paragraphe 501(c)(3) du code fiscal des États-Unis.
          </p>
          <p>
            Politique de confidentialité propos de WikipédiaAvertissementsDéveloppeursVersion mobile
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
