<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Independance Madagascar</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/style1.css">
  </head>
  <body>
    <div id="container3">

      <div id="header6">
        <div class="header">
          <h1>Independance Madagascar</h1>
        </div>
      </div>

      <div id="menu">
        <h1>Sommaire</h1>
        <img src="../../WEB-INF/classes/data/img/test4.gif" class="photo">
          <h3>geographie:</h3>
          <ul>
            <li><a href="../geogr/relief.html">Relief</a></li>
            <li><a href="../geogr/hydro.html">Hydrographie</a></li>
            <li><a href="../geogr/climat.html">Climat</a></li>
            <li><a href="../geogr/geo.html">Géologie</a></li>
          </ul>
          <h3>histoire:</h3>
          <ul>
            <li>Epoque coloniale:
              <ul>
                <li><a href="conqfr.html">Conquète Française</a></li>
                <li><a href="adminfr.html">Adminitration Française</a></li>
              </ul>
            </li>
            <li><a href="indep.html">Independance vers 1960</a></li>
            <li><a href="rep.html">Vers la 3eme republique</a></li>
          </ul>
          <h3>economie:</h3>
          <ul>
            <li><a href="../economie/sysBank.html">Système des banques</a></li>
            <li><a href="../economie/export.html">Exportation</a></li>
            <li><a href="../economie/import.html">Importation</a></li>
            <li><a href="../economie/energie.html">Enérgie</a></li>
          </ul><hr>
          <h3><a href="../../index.html">Acceuil</a></h3><hr>
        <h1>Histoire</h1>
          <h3>Indépendance</h3>
            <h4>De la France</h4>
          <h3>Date</h3>
            <h4>26 juin 1960</h4>
      </div>

      <div id="containts">
        <h1>Independance française</h1>
          <img src="../../WEB-INF/classes/data/img/maki.jpg" class="photo4">
          <p>L'île accède à l'indépendance le 26 juin 1960 mais la Première République malgache reste très étroitement liée à la France par les accords de coopération.
            Le président Tsiranana, critiqué par la population pour son soutien aux intérêts français, fait face à une contestation grandissante, en particulier la grève des étudiants menée de la capitale vers les provinces, et quitte le pouvoir en 1972.
            Il donne les pleins pouvoirs au général Gabriel Ramanantsoa qui décide d'organiser un référendum afin d'officialiser son pouvoir pour une période transitoire. Le référendum l'ayant plébiscité, il crée un gouvernement d'union nationale, qu'il dirige jusqu'en 1975, avant de passer le flambeau au populaire colonel de gendarmerie Richard Ratsimandrava.
            Ce dernier est assassiné au bout d'une semaine, le 11 février 1975 à 20 heures. Après l'assassinat du général Ratsimandrava, Madagascar a été dirigé par un Comité national de direction militaire présidé par le général Andriamahazo.
            Le 14 juin 1975, Didier Ratsiraka est nommé chef de l'État et du gouvernement. Le Comité national de direction militaire est alors remplacé par un Comité national de la révolution. Le 21 décembre 1975, les Malgaches ont approuvé par vote référendaire la Charte de la Révolution socialiste et la nouvelle Constitution instituant la Deuxième République avec Didier Ratsiraka comme président.
            Le 30 décembre 1975, le capitaine de frégate Didier Ratsiraka proclama la République démocratique de Madagascar. En mars 1976, il créa le parti Avant-Garde de la Révolution malgache (AREMA). Par la suite, il entreprend de s'aligner sur la position du bloc soviétique, tout en étant l'un des militants actifs du non-alignement.
            En 1976, le gouvernement termine l’expulsion de l'armée française et ferme les ambassades et consulats. Ratsiraka instaure le franc malgache (FMG) et délaisse le franc CFA. L'État contrôle tous les échanges avec l'extérieur. Vers la fin des années 1980, après plus de 10 ans d'expérience socialiste, il est contraint[réf. nécessaire] d'engager le pays sur la voie d'un libéralisme prudent.
          </p><hr>
      </div>

      <div id="footer">
        <div id="foot">
          <p>
            Dernière modification de cette page le 29 octobre 2014 à 16:38.
          </p>
          <p>Droit d'auteur : les textes sont disponibles sous licence Creative Commons paternité partage à l’identique ; d’autres conditions peuvent s’appliquer. Voyez les conditions d’utilisation pour plus de détails, ainsi que les crédits graphiques.
             En cas de réutilisation des textes de cette page, voyez comment citer les auteurs et mentionner la licence.
             Wikipedia est une marque déposée de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par le paragraphe 501(c)(3) du code fiscal des États-Unis.
          </p>
          <p>
            Politique de confidentialité propos de WikipédiaAvertissementsDéveloppeursVersion mobile
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
