<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Republique Madagascar</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/style1.css">
  </head>
  <body>
    <div id="container4">

      <div id="header7">
        <div class="header">
          <h1>3eme Republique Madagascar</h1>
        </div>
      </div>

      <div id="menu">
        <h1>Sommaire</h1>
        <img src="../../WEB-INF/classes/data/img/test4.gif" class="photo">
          <h3>geographie:</h3>
          <ul>
            <li><a href="../geogr/relief.html">Relief</a></li>
            <li><a href="../geogr/hydro.html">Hydrographie</a></li>
            <li><a href="../geogr/climat.html">Climat</a></li>
            <li><a href="../geogr/geo.html">Géologie</a></li>
          </ul>
          <h3>histoire:</h3>
          <ul>
            <li>Epoque coloniale:
              <ul>
                <li><a href="conqfr.html">Conquète Française</a></li>
                <li><a href="adminfr.html">Adminitration Française</a></li>
              </ul>
            </li>
            <li><a href="indep.html">Independance vers 1960</a></li>
            <li><a href="rep.html">Vers la 3eme republique</a></li>
          </ul>
          <h3>economie:</h3>
          <ul>
            <li><a href="../economie/sysBank.html">Système des banques</a></li>
            <li><a href="../economie/export.html">Exportation</a></li>
            <li><a href="../economie/import.html">Importation</a></li>
            <li><a href="../economie/energie.html">Enérgie</a></li>
          </ul><hr>
          <h3><a href="../../index.html">Acceuil</a></h3><hr>
        <h1>Madagascar</h1>
          <h3>Devise nationale</h3>
            <h4>Fitiavana, Tanindrazana, Fandrosoana (Amour, Mère patrie, Progrès)</h4>
          <h3>Hymne national</h3>
            <h4>Ry Tanindrazanay malala ô (Ô, Notre chère terre des ancêtres)</h4>
          <h3>Drapeau de Madagascar</h3>
            <h4><img src="../../WEB-INF/classes/data/img/test2.png" class="pot"></h4>
          <h3>Sceau de Madagascar</h3>
            <h4><img src="../../WEB-INF/classes/data/img/test1.gif" class="pot"></h4>
      </div>

      <div id="containts">
        <h1>La Troisième République (depuis 1991)</h1>
          <h2>1991</h2>
          <p>L'opposition à Didier Ratsiraka s'amplifie. Des manifestations populaires sont réprimées par l'armée, faisant de nombreuses victimes38.
            Il s'est avéré nécessaire de rapprocher les protagonistes.
            Le Premier ministre Guy Razanamasy a fait adopter la Convention du 31 octobre 1991.
            C'est sur la base de cette convention que les autres solutions de sortie de crise se fondaient.
          </p><hr>
          <h2>1992</h2>
          <p>
            Après une brève période transitoire où le président Ratsiraka n'assurera qu'une fonction symbolique au profit de Albert Zafy qui dirigera la Haute Autorité de l'État, une nouvelle Constitution est adoptée par référendum, et Albert Zafy, candidat de l'opposition, est élu à la présidence en 1993.
          </p><hr>
          <h2>1993</h2>
          <img src="../../WEB-INF/classes/data/img/tana.jpg" class="photo4">
          <p>Instauration d'un régime parlementaire. L'Assemblée nationale élit Me Francisque Ravony, au poste de Premier ministre. Début d'un libéralisme économique et politique sans précédent. La démocratie est devenue le leitmotiv du régime de Zafy, soucieux de se distinguer de son prédécesseur.
            Il instaure aussi un nouveau style de gouvernement voulant selon lui se rapprocher et être au contact du « peuple ». Il multiplie les tournées en province et dans les campagnes les plus reculées (le fameux « Mada Raid »), délaissant ainsi la capitale où se joue un jeu politique des plus mouvementés.
            Il s'ensuit une certaine instabilité politique caractérisée par les multiples motions de censure et changements de gouvernement, situation que le Président Zafy n'a de toute façon pas le pouvoir de maîtriser. Par ailleurs, l'ajustement structurel de
            l'économie est au point mort, la croissance tant attendue et promise n'est pas au rendez-vous, les dirigeants malgaches s'étant de plus aventurés et égarés dans les « financements parallèles ». Le torchon a fini par brûler entre Albert Zafy et son Premier ministre soutenu par les députés de la majorité.
            Le président a dû faire appel à un référendum constitutionnel donnant le pouvoir au président de la République de nommer le Premier ministre afin de destituer Me Ravony, remplacé par le Dr Emmanuel Rakotovahiny.
          </p><hr>
          <h2>1996</h2>
          <p>Cet amendement de la Constitution sonna quelque peu le glas du parlementarisme, ce qui provoqua une guerre ouverte entre le président et les députés, laquelle se soldera d'abord par une nouvelle motion de censure du gouvernement et surtout par le vote en juin 1996 de la motion d'empêchement définitif
            du président par 93 députés sur 135. Le Premier ministre Norbert Ratsirahonana devient chef de l'État par intérim en attendant les nouvelles élections. L'amiral Didier Ratsiraka, rentré quelques mois plus tôt de son exil en France, est réélu au 2e tour de l’élection présidentielle (contre Zafy).
            Madagascar connaît une période de stabilité économique jusqu'en 2001 avec 4,3 % de croissance annuelle moyenne.
          </p><hr>
          <h2>2001</h2>
          <p>Le maire de la capitale, Marc Ravalomanana, arrive en tête de l'élection présidentielle de décembre 2001. Un second tour est prévu mais celui-ci revendique la victoire dès le premier tour sur la base des résultats publiés par son propre quartier général à Ankorondrano (quartier de Tananarive).
            Ravalomanana dénonce une fraude électorale massive et décide d'acculer ainsi le régime Ratsiraka. Le président Didier Ratsiraka tente de reprendre la main en modifiant les membres de la Haute Cour Constitutionnelle, chargée de proclamer les résultats électoraux à Madagascar. Le candidat Ravalomanana
            réclame la confrontation des procès-verbaux en sa possession et les procès-verbaux officiels. Le régime refuse une telle méthode jugée « illégale » mais exhorte les opposants à participer au second tour.
          </p><hr>
          <h2>2002</h2>
          <img src="../../WEB-INF/classes/data/img/sar.jpg" class="photo1">
          <p>Marc Ravalomanana est élu président de la République et nomme plus tard Me Jacques Sylla, « Premier ministre ». La capitale étant acquise à la cause de l'ancien maire, Didier Ratsiraka décide de délocaliser le siège du gouvernement à Toamasina, son fief et principal port de l'île situé dans l'est.
            Le régime érige des barrages routiers pour paralyser et asphyxier la capitale, ce qui finit par paralyser tout le pays.
            À l'invitation de l'Union Africaine et du président du Sénégal Abdoulaye Wade, les deux parties protagonistes se réunissent à Dakar et signent des accords en avril 2002 qui prévoit notamment un nouveau décompte des voix, l'organisation d'un référendum (à la place d'un second tour) si la majorité
            absolue n'était pas obtenue et l'instauration d'un gouvernement d'union nationale dirigé par M. Ravalomanana. Ces accords ne seront pas respectés par les deux parties qui camperont sur leur position, une fois rentrés au pays. Ravalomanana ne relâche pas la pression et finit par obtenir
            l'annulation de la nomination de la nouvelle Haute Cour constitutionnelle en raison d'un vice de forme, la Cour précédente, reconduite dans ses fonctions, se charge de procéder à la publication des résultats des élections.
            En mai 2002, Marc Ravalomanana est déclaré vainqueur dès le premier tour avec plus de 51 % des voix. Il est investi dans ses fonctions de président de la République une semaine plus tard. Il confirme Jacques Sylla au poste de Premier ministre. Il décide de faire appel aux réservistes de l'armée
            pour lancer des expéditions contre les troupes fidèles à Didier Ratsiraka et pour « libérer » les provinces des barrages. Les deux camps s'affrontent désormais militairement. En juillet 2002, Toamasina, la dernière province où le camp Ratsiraka s'est retranché est tombé entre les mains de Ravalomanana.
            Didier Ratsiraka prend la fuite avec ses fidèles à bord d'un avion à destination de la France. Les pays occidentaux, les États-Unis en tête, et la France en dernier, reconnaissent la victoire de Ravalomanana. Cependant, l'Union africaine, l'ONU et les bailleurs de fonds ne reconnaissent le régime de
            Marc Ravalomanana qu'en janvier 2003, à la suite des élections législatives remportées par son parti.
            À la fin de son premier mandat, le président Marc Ravalomanana élabore sa vision « Madagascar Naturellement » et met en œuvre le Madagascar Action Plan (MAP), un nouveau programme de développement pour 5 ans39.
          </p><hr>
          <h2>2006</h2>
          <p>
            En décembre, le président Marc Ravalomanana est réélu dès le premier tour avec 56 % des voix pour un second mandat de 5 ans40, avec comme principal objectif la réalisation du MAP.
          </p><hr>
          <h2>2007</h2>
          <p>En avril 2007, Marc Ravalomanana fait modifier par voie référendaire la Constitution dans un sens qui renforce les pouvoirs présidentiels en permettant les ordonnances « en cas d’urgence et de catastrophe ». Cette révision introduit en outre l’anglais comme troisième langue officielle, modifie
            la structure administrative en remplaçant les six provinces autonomes par 22 régions et supprime le caractère laïc de l’État malgache10.
            L’opposition voit dans cette révision des risques de dérive autocratique tandis que l’Église catholique romaine malgache critique sévèrement l’organisation du référendum, et pointe « le pouvoir exorbitant » accordé au président. Les autorités épiscopales catholiques craignent que le président Ravalomanana,
            qui est vice-président de la puissante Église réformée de Madagascar42 interfère directement dans les activités religieuses.
          </p><hr>
          <h2>2008</h2>
          <p>Au fil des années, les partis d'opposition accusent le régime de paralyser les entreprises locales comme la Savonnerie tropicale43,44, la société le Quartz45. Le gouvernement ne serait pas neutre vis-à-vis des diverses concurrences entre entreprises, qui devraient ne compter que sur elles-mêmes pour
            assurer leur gestion. Marc Ravalomanana est également pointé du doigt par l'opposition pour avoir « éliminé » les entrepreneurs malgaches performants, accaparé leurs affaires pour se    placer lui-même dans tous les secteurs économiques bénéficiaires46.
            Le problème principal est que des luttes intestines incessantes conjuguées à l'âge de la majorité des élites négligeant leur succession a creusé un vide politique et amené un cruel défaut d'émulation.
            Le processus électoral est également fortement décrié par les opposants, qui voudraient lui apporter de fortes améliorations afin d'éviter les troubles lors de chaque élection présidentielle.
          </p><hr>
      </div>

      <div id="footer">
        <div id="foot">
          <p>
            Dernière modification de cette page le 29 octobre 2014 à 16:38.
          </p>
          <p>Droit d'auteur : les textes sont disponibles sous licence Creative Commons paternité partage à l’identique ; d’autres conditions peuvent s’appliquer. Voyez les conditions d’utilisation pour plus de détails, ainsi que les crédits graphiques.
             En cas de réutilisation des textes de cette page, voyez comment citer les auteurs et mentionner la licence.
             Wikipedia est une marque déposée de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par le paragraphe 501(c)(3) du code fiscal des États-Unis.
          </p>
          <p>
            Politique de confidentialité propos de WikipédiaAvertissementsDéveloppeursVersion mobile
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
