<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geologie Madagascar</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/style1.css">
  </head>
  <body>

    <div id="container">

      <div id="header3">
        <div class="header">
          <h1>Geologie de Madagascar</h1>
        </div>
      </div>

      <div id="menu">
        <h1>Sommaire</h1>
        <img src="../../WEB-INF/classes/data/img/test4.gif" class="photo">
          <h3>geographie:</h3>
          <ul>
            <li><a href="relief.html">Relief</a></li>
            <li><a href="hydro.html">Hydrographie</a></li>
            <li><a href="climat.html">Climat</a></li>
            <li><a href="geo.html">Géologie</a></li>
          </ul>
          <h3>histoire:</h3>
          <ul>
            <li>Epoque coloniale:
              <ul>
                <li><a href="../histoire/conqfr.html">Conquète Française</a></li>
                <li><a href="../histoire/adminfr.html">Adminitration Française</a></li>
              </ul>
            </li>
            <li><a href="../histoire/indep.html">Independance vers 1960</a></li>
            <li><a href="../histoire/rep.html">Vers la 3eme republique</a></li>
          </ul>
          <h3>economie:</h3>
          <ul>
            <li><a href="../economie/sysBank.html">Système des banques</a></li>
            <li><a href="../economie/export.html">Exportation</a></li>
            <li><a href="../economie/import.html">Importation</a></li>
            <li><a href="../economie/energie.html">Enérgie</a></li>
          </ul><hr>
          <h3><a href="../../index.html">Acceuil</a></h3><hr>
        <h1>Démographie</h1>
          <h3>Gentilé</h3>
            <h4>Malgache</h4>
          <h3>Population totale</h3>
            <h4>22 446 000 hab (2012)</h4>
          <h3>Densité</h3>
            <h4>36,25 hab./km2</h4><hr>
        <h1>Geographie</h1>
          <h3>plus grande ville</h3>
            <h4>Antananarivo</h4>
          <h3>superficie total</h3>
            <h4>587040 km2</h4>
          <h3>fuseau horaire</h3>
            <h4>UTC+3</h4>
      </div>

      <div id="containts">
        <h1>Geographie</h1>
          <img src="../../WEB-INF/classes/data/img/madaga.png" class="photo2">
          <p>Située au sud de l’équateur, dans l’océan Indien, Madagascar est la cinquième île du monde en superficie (592 040 km22) après l'Australie, le Groenland, la Nouvelle-Guinée et Bornéo. Elle fait partie de l'Afrique,
            le canal du Mozambique, d'une largeur d'environ 400 km, la séparant de l'Afrique de l'Est continentale.
            La Grande Île, parfois appelée « l’île Rouge » en référence à la latérite qui colore ses plateaux, s’étire sur 1 580 km du nord au sud et 500 km d'est en ouest
            avec un maximum à 575 km. Elle est entourée de l'archipel des Comores (300 km au nord-ouest), des Seychelles (1 000 km au nord), de la La Réunion (800 km à l’est, mais aussi l'île Maurice un peu plus à l’est) et du Mozambique (400 km à l'ouest).
            Une chaîne montagneuse parsemée de massifs coupe la Grande Île dans le sens nord-sud à une altitude moyenne de 1000 à 1 500 mètres (les Hautes Terres représentent 70 % de la superficie du pays).
            La moitié ouest, la plus large et la plus étalée, est occupée par des plaines alluvionnaires à faible déclivité, depuis les hautes terres du centre jusqu’au canal du Mozambique, tandis qu’à l’est une étroite bande de falaises s’aplanit brusquement en une mince plaine côtière bordée par l’océan Indien.
            La région nord, volcanique, est isolée par le massif le plus élevé de l’île (où culmine le Tsaratanana de 2 876 m). Le « grand sud » semi-aride est partagé entre plateaux calcaires (sud-ouest), plaine sèche (pointe sud) et chaînes anosyennes (sud-est).
            L’Alaotra (182 km2) est le plus vaste des cinq grands lacs de Madagascar.
            L’originalité de Madagascar, qui a pour emblème l’arbre du voyageur (ravinala), réside dans son extrême diversité : la variété du relief et du climat a favorisé la biodiversité d’une flore et d’une faune caractérisées par un important taux d’endémisme.
          </p><hr>
        <h1>Geologie</h1>
          <img src="../../WEB-INF/classes/data/img/geo.jpg" class="photo1">
          <p>La dérive des continents montre que l’Inde, l’Australie, l’Antarctique, Madagascar, le sud de l’Afrique et de l’Amérique étaient réunies en une terre appelée Gondwana.
            Il y a 240 millions d’années, ce continent unique 'Gondwana' s'est disloqué pour former les 5 continents.
            Dès le début de la période Quaternaire, Madagascar se trouve à peu près à l'endroit où elle se situe actuellement.
            Cette origine permet d’expliquer l’existence d’une faune et d’une flore communes à Madagascar et au sud des continents africain, asiatique et américain, ainsi que des profils géologiques très proches.
            Néanmoins, l'isolement de Madagascar au cours des temps géologiques a fait évoluer la faune et la flore de façon unique.
            On trouve donc sur la Grande Île des espèces particulières qui n'existent nulle part ailleurs (endémiques), dont les lémuriens sont un exemple célèbre. D'un point de vue géologique, on retrouve dans la structure de la Grande Île toutes les périodes de l’histoire de la planète.
            Le point culminant de Madagascar est le Maromokotro dans le massif du Tsaratanana dans le massif volcanique nord, qui culmine à 2 876 m d’altitude.
            Du fait de son relief, Madagascar réunit une véritable mosaïque de paysages. L’île est faite de contrastes entre le bush du grand Sud, les forêts humides de l’est, les hauts plateaux granitiques du centre, parfois surmontés de massifs volcaniques et les savanes des collines sédimentaires de l’ouest.
            L'île de Madagascar bien que faisant partie de l'Afrique, est parfois surnommée « le huitième continent ».
          </p><hr>
      </div>

      <div id="footer">
        <div id="foot">
          <p>
            Dernière modification de cette page le 29 octobre 2014 à 16:38.
          </p>
          <p>Droit d'auteur : les textes sont disponibles sous licence Creative Commons paternité partage à l’identique ; d’autres conditions peuvent s’appliquer. Voyez les conditions d’utilisation pour plus de détails, ainsi que les crédits graphiques.
             En cas de réutilisation des textes de cette page, voyez comment citer les auteurs et mentionner la licence.
             Wikipedia est une marque déposée de la Wikimedia Foundation, Inc., organisation de bienfaisance régie par le paragraphe 501(c)(3) du code fiscal des États-Unis.
          </p>
          <p>
            Politique de confidentialité propos de WikipédiaAvertissementsDéveloppeursVersion mobile
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
